.custom-button, .custom-button:active, .custom-button:focus {
    background-color: #2D3140;
    color: #DC6180;
    text-transform: uppercase;
    border: 2px solid #DC6180;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 14px;
    transition: all ease .3s;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 auto;
}

a.custom-button {
    background-color: #2D3140;
    color: #DC6180;
    text-transform: uppercase;
    border: 2px solid #DC6180;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 14px;
    transition: all ease .3s;
    letter-spacing: 1px;
    display: inline-block;
    margin: 5px auto;
}

.custom-button:hover {
    background-color: #DC6180;
    border: 2px solid #DC6180;
    cursor: pointer;
    color: #ffffff;
}

.long-button {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
}

/*.history-bills {*/
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
/*}*/

/*.history-bills td, th {*/
    /*border: 1px solid black;*/
    /*width: 100%;*/
/*}*/

.history-bills {
    margin: 20px 0;
    border-spacing: 0;
    width: 100%;
    background-color: #35394a;
    table-layout: fixed;
}



.history-bills th, .history-bills td {
    padding: 15px;
    text-align: center;
    color: #ffffff;
}



.history-bills th {
    background: #4E546D;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 14px;
}

.history-bills tr {
    transition: all ease .5s;
    border-bottom: 1px solid #3b3f52;

}

.history-bills tr:hover {
    background-color: #3b3f52;
}












